# Dependencies
node_modules/

# Build output
dist/
lib/
release/
sharepoint/
temp/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# SPFx
*.sppkg
